section.content
  .container
    .content__inner
      .content__body
        .content__date online-конференция | 15 июня в 10:00
        h1.content__title Как риелтору из любого города <span>зарабатывать 1-3 млн ₽ с&nbsp;одной сделки,</span> продавая объекты надёжного застройщика&nbsp;Сочи
        p.content__title--sm Как риелтору из любого города <span>зарабатывать<br>1-3 млн ₽ с&nbsp;одной сделки,</span><br>продавая объекты надёжного застройщика&nbsp;Сочи
        .content__items
          .content__item 
            img(src="images/car.svg", alt="car icon")
            p.content__item-text Не&nbsp;нужно<br>ехать в&nbsp;Сочи
          .content__item 
            img(src="images/steps.svg", alt="steps icon")
            p.content__item-text Получите пошаговый план<br>от&nbsp;поиска клиента до&nbsp;сделки
        .content__link
          p.content__link-text Узнайте как стать партнером и&nbsp;зарабатывать<br>на&nbsp;недвижимости в&nbsp;Сочи на&nbsp;бесплатной online-конференции
          button.content__button(type='button') <span>Принять участие</span>
      a.content__play(data-fancybox href="https://vimeo.com/715927343")
        img(src="images/play.svg", alt="play icon")
        