header.header
  .header__container 
    .header__inner
      a.logo(href="#")
        img(src="images/logo.svg", alt="logo icon")
      .header__contacts
        a.header__contacts-link(href="tel:88007004327") 8 800 700-43-27
        a.header__contacts-link(href="mailto:partners@nedvex.ru") partners@nedvex.ru